.about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height:100%;
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: center;
  gap: 7rem;

  @include respond(phone) {
    flex-direction: column;
  }

  .image {
    flex: 1;
    max-width: 650px;
    img {
      width: 100%;
      border-radius: 2rem;
    }
  }

  .text {
    flex: 2;
    max-width: 900px;

    h2 {
      font-family: $font-primary;
      font-size: 4.5rem;
      color: $color-secondary;
      margin-bottom: 1rem;
      font-weight: $font-weight-normal;
    }

    .description {
      font-family: $font-secondary;
      font-size: 1.7rem;
      margin-bottom: 0.5rem;
    }

    .short {
    font-family: $font-text;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .cta {
    width: auto;
      background-color: $color-primary;
      color: $color-dark;
      border: none;
      border-radius: 999px;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      font-weight: $font-weight-medium;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-secondary;
        color: $color-white;
      }
    }
  }
}

.collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  .item {
    display: flex;
    gap: 5rem;
    // align-items: center;
    justify-content: center;

    img {
      max-width: 400px;
      height: auto;
      border-radius: 2rem;
    }

    .box {
    background-color: lightcoral;
    max-width:350px;
    border-radius: 2rem;
    padding: 2rem;            
      h3 {
        font-family: $font-secondary;
        font-size: 1.125rem;
        margin-bottom: 0.25rem;
        color: $color-dark;
      }

      p {
        font-size: 0.95rem;
        color: $color-text;
      }
    }
  }
}
