.about {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height:100%;
  width: 100%;
}

.topSection {
  display: flex;
  justify-content: center;
  gap: 7rem;

  @include respond(phone) {
    flex-direction: column;
  }

  .image {
    flex: 1;
     max-width: 850px;
    height: 450px;
    // background-color: lightcoral;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 3rem;
    }
  }

  .text {
    flex: 2;
    max-width: 900px;

    h2 {
      font-family: $font-primary;
      font-size: 2.5rem;
      color: $color-secondary;
      margin-bottom: 1rem;
      font-weight: $font-weight-normal;
    }

    .description {
      font-family: $font-secondary;
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .short {
    font-family: $font-text;
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    .cta {
      width: auto;
      background-color: transparent;
      color: $color-dark;
      border: none;
      border-radius: 999px;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      border: 1px solid $color-secondary;
      font-weight: $font-weight-medium;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $color-secondary;
        color: $color-white;
      }
    }
  }
}

.collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // gap: 2rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  .item {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;

    img {
      max-width: 400px;
      height: auto;
      border-radius: 2rem;
    }

    .box {
    background-color: $color-primary;
    max-width:350px;
    border-radius: 2rem;
    padding: 2rem;
    h2{
      font-family: $font-primary;
      font-weight: $font-weight-medium;
      color: $color-secondary;
    }     
      h3 {
        font-family: $font-secondary;
        font-size: 1.2rem;
        font-weight: $font-weight-medium;
        margin-bottom: 0.25rem;
        color: $color-dark;
      }

      p {
        font-size: 0.95rem;
        color: $color-text;
        font-family: $font-text;
      }
    }
  }
}
