.faqSection {
    padding: 4rem 2rem;
    background: $color-bg;
    color: $color-dark;
}

.heading {
    font-weight: $font-weight-bold;
    font-family: $font-primary;
    font-size: 3.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.list {
    max-width: 1200px;
    margin: 0 auto;
}

.item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: .3rem;
}

.question {
    width: 100%;
    background-color: $color-secondary;
    font-size: 1.5rem;
    font-weight: $font-weight-medium;
    font-family: $font-primary;
    color: $color-white;
    text-align: left;
    padding: 1rem 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    border-radius: .8rem;

    &:hover {
        color: rgba($color-primary, 0.8);
    }

    .icon {
        font-size: 1.5rem;
        color: $color-primary;
        transition: transform 0.2s ease;
    }
}

.answer {
    overflow: hidden;
    transition: max-height 0.4s ease;
    padding-right: 1rem;
    background-color: $color-darker;
    border-radius: .8rem;
    font-family: $font-nav;

    p {
        font-size: 1.3rem;
        padding-top: 0.5rem;
        padding: 2rem;
        color: $color-white;
    }

    @include respond-to("phone"){
        overflow-y: scroll;
    }
}

.cta {
    text-align: center;
    margin-top: 2rem;

    p {
        font-size: 1.3rem;
        color: $color-secondary;

        a {
            color: $color-secondary;
            text-decoration: none;
            font-weight: $font-weight-bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}