.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: $color-bg;
}

.backgroundImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2%;
  max-width: 65%;
  color: $color-white;
  font-family: $font-primary;
  margin-top: 15rem;

  @include respond-to(phone) {
    max-width: 90%;
    padding-left: 1rem;
  }
}

.tagline {
  font-size: 1.2rem;
  font-weight: $font-weight-medium;
  color: $color-primary;
  font-family: $font-secondary;
  letter-spacing: 0.05rem;
}

.title {
  font-family: $font-primary;
  font-size: 5rem;
  line-height: 1.2;
  font-weight: $font-weight-bold;

  @include respond-to(phone) {
    font-size: 2rem;
  }

  @include respond-to("tablet"){
    font-size: 2.6rem;
  }
}

.description {
  font-family: $font-secondary;
  font-size: 2rem;
  max-width: 950px;
  opacity: 0.9;

  @include respond-to(phone) {
    font-size: 1rem;
  }

  @include respond-to("tablet"){
    font-size: 1.3rem;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.primaryBtn {
  background: $color-primary;
  color: $color-text;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: background-color 0.55s ease, color 0.55s ease; // ✅ Smooth fade
  text-decoration: none;


  &:hover {
    background: color.adjust($color-secondary, $lightness: 7%);
    color: $color-light;
  }


}


.secondaryBtn {
  background: transparent;
  border: 1px solid $color-white;
  color: $color-white;
  padding: 0.75rem 1.75rem;
  border-radius: 4px;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: 0.25s ease;
  border-radius: 5rem;
  transition: background-color 0.55s ease, color 0.55s ease; // ✅ Smooth fade
  text-decoration: none;


  &:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}
