.hero {
  background: url('../assets/LearnMoreHero.jpg') center/cover no-repeat;
  color: $color-white;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 2rem 4rem;
  text-align: center;
}

.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      rgba($color-darker, 0.4),
      rgba($color-secondary, 0.5)
    );
    z-index: 1;
}

.content {
  position: relative;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 99;

  h1 {
    font-family: $font-primary;
    font-weight: $font-weight-bold;
    font-size: 6rem;
    margin-bottom: 1rem;

    @media (max-width: 600px) {
      font-size: 2.2rem;
    }
  }

  p {
    font-family: $font-secondary;
    font-size: 1.5rem;
    color: $color-white;
    margin-bottom: 2rem;
    max-width: 700px;


    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  span{
    color: $color-primary;
  }

  .cta {
    display: inline-block;
    background-color: transparent;
    color: $color-white;
    padding: 0.75rem 1.5rem;
    border: 1px solid rgba($color-primary,0.7);
    border-radius: 2rem;
    font-weight: $font-weight-normal;
    font-size: 1.3rem;
    text-decoration: none;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
      background-color: $color-primary;
      color:$color-secondary;
      border-color: $color-darker;
    }
  }
}
