.nav {
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 65%;
  height: 85px;
  padding-inline: 7rem;
  border-radius: 50px;
  background: rgba($color-secondary, 0.65);
  backdrop-filter: blur(22px) saturate(180%);
  border: 1px solid rgba($color-white, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 240ms ease;

  
  @include respond-to(phone) {
    width: 100%;
    padding-inline: 1.5rem;
    height: 65px;
  }
}

.inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: $font-nav;
  font-size: 1.3rem;
  font-weight: $font-weight-medium;
  color: $color-white;
  text-decoration: none;
}

.toggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;

  span {
    display: block;
    height: 2px;
    background: $color-white;
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  @include respond-to(phone) {
    display: flex;
  }
}

.links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;

  li a {
    font-family: $font-nav;
    font-size: 1.05rem;
    color: $color-white;
    padding: 0.45rem 0.9rem;
    border-radius: 30px;
    text-decoration: none;
    transition: background 180ms ease, color 180ms ease, transform 120ms ease;

    &:hover {
      background: $color-primary;
      color: $color-text;
      transform: translateY(-2px);
    }
  }

  @include respond-to(phone) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background: $color-secondary;
    border-radius: 1.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    overflow: scroll;

    &.open {
      max-height: 300px; // enough to show all links
      padding: 1rem 0;
    }

    li {
      text-align: center;
      margin: 0.5rem 0;
    }
  }
}
