.hero {
  position: relative;
  background: url('../assets/QuoteHero.jpg') center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.overlay {
  background: rgba($color-secondary, 0.6);
  width: 100%;
  height: 100vh;
  padding: 6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: $font-primary;
    font-weight: $font-weight-bold;
    font-size: 5rem;
    margin-bottom: 1rem;

    @media (max-width: 600px) {
      font-size: 2.2rem;
    }
  }

  p {
    font-family: $font-secondary;
    font-size: 1.5rem;
    color: $color-white;
    margin-bottom: 1.5rem;
    max-width: 900px;


    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  .cta {
    display: inline-block;
    background: transparent;
    color: $color-white;
    padding: 0.75rem 1.5rem;
    border-radius: 2rem;
    font-weight: $font-weight-medium;
    font-size: 1.5rem;
    border: 1px solid $color-white;
    text-decoration: none;
    transition: transform 0.2s ease;
    margin-top: 1.5rem;

    &:hover {
      transform: scale(1.05);
      background-color: $color-secondary;
      color: $color-white;
      border-color: rgba($color-primary, 0.3);
    }
  }
}
