.main{
  margin-top: 2rem;
}

.solutions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
  padding: 4rem 2rem;
  height: 100%;



  @include respond-to("phone") {
    flex-direction: column;
    height: auto;
    gap: 5rem;
  }
}

.header{
    font-family: $font-primary;
    font-size: 3.5rem;
    font-weight: $font-weight-bold;
    color: $color-secondary;
    text-align: center;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    max-width: 750px;


    .cta {
    background-color: $color-secondary;
    padding: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      font-family: $font-text;
      font-size: 1.2rem;
      color: $color-white;
    }

    .button {
      align-self: flex-start;
      background-color: $color-white;
      color: $color-secondary;
      padding: 0.5rem 1rem;
      border-radius: 999px;
      font-weight: $font-weight-medium;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: color.adjust($color-primary, $lightness: 10%);
      }

      svg {
        font-size: 1rem;
      }
    }
  }
}

.image {
  flex: 1;
  max-width: 100%;
  max-height: 650px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
  }
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
//   gap: .5rem;
  max-width: 700px;

  
  .title {
    font-family: $font-primary;
    font-size: 3rem;
    font-weight: $font-weight-bold;
    color: $color-secondary;
}

.description{
    font-family: $font-secondary;
    font-size: 1.2rem;
    color: $color-text;
    font-weight: $font-weight-normal;
    margin-bottom: 2.5rem;
}

.subtitle {
    font-family: $font-text;
    font-size: 1.2rem;
    font-weight: $font-weight-medium;
    color: $color-dark;
  }

  .block {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-bottom: 5.5rem;

    .icon {
      font-size: 5rem;
      color: rgba($color-secondary, 0.6);
      font-weight: $font-weight-normal;
      flex-shrink: 0;
      margin-top: 0.25rem;
    }

    h3 {
      font-family: $font-secondary;
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
      color: $color-dark;
      margin-bottom: 0.5rem;
    }

    p {
      font-family: $font-text;
      font-size: 1rem;
      line-height: 1.6;
      color: $color-text;
      max-width: 400px;
    }
  }
}

